<%- include ('./templates/_header.ejs'); %>
<body>
    <div class="center">
        <div class="host-header">
            <p class="host-text">Join at <b>melodix.onrender.com/join</b>  with the game pin:</p>
            <p class="large-host-text" id="room-code">asdf</p>
        </div>
    </div>
   <script src="/js/host/roomManager.js"></script> 
</body>
</html>