<%- include ('./templates/_header.ejs'); %>
<body>
    <a href="/host/artist" class="card">Artist</a>
    <a href="/host/playlist" class="card">Playlist</a>
    <script>
        sessionStorage.clear();
    </script>
</body>
</html>