<%- include ('./templates/_header.ejs'); %>
<body>
    <p></p>
    <a href="/artist" class="card">Artist</a>
    <a href="" class="card">Playlist</a>
    <script>
        sessionStorage.clear();
    </script>
</body>
</html>