<%- include ('./templates/_header.ejs'); %>
<body>
    <div class="center">
        <div class="container">
            <input type="text" class="input-field" id="room-code" placeholder="Room code...">
            <input type="text" class="input-field" id="name" placeholder="Name...">
            <button class="button" id="join">Join</button>
        </div>
    </div>
    <script src="/js/join/join.js"></script>
</body>
</html>