<%- include ('./templates/_header.ejs'); %>
<body>
    <div class="center">
        <div class="container">
            <p class="text">Search by playlist link</p>
            <div class="input-wrapper">
                <input type="text" id="link-search" class="input-field" placeholder="Link...">
                <div class="dropdown" id="link-dropdown" style="display:none;">
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="container">
            <p class="text">Songs (click to exclude)</p>
            <div id="song-container" class="container-capped"></div>
            <button class="button" id="submit">Submit</button>
        </div>
    </div>
    <script src="/js/playlist/songs.js"></script>
    <script src="/js/playlist/playlist.js"></script>
</body>
</html>