<%- include ('./templates/_header.ejs'); %>
<body>
    <div class="room-content">
        <div class="center">
            <div class="host-header">
                <p class="host-text">Current room:</p>
                <p class="large-host-text" id="room-code">XXXXXXXX</p>
            </div>
        </div>

        <div id="waiting">
            <div id="loading" class="loading">
                <img src="/img/spinning.svg" alt="">
                <p>Waiting for host to start...<p>
                <a href="https://loading.io/icon/">Provided by loading.io</a>
            </div>
        </div>

        <div class="room-button-container" style="display:none;">
            <div class="room-buttons">
                <div class="room-button red">
                    <img src="/img/block.svg" alt="">
                </div>
                <div class="room-button orange">
                    <img src="/img/ball.svg" alt="">
                </div>
                <div class="room-button green">
                    <img src="/img/infinity.svg" alt="">
                </div>
                <div class="room-button purple">
                    <img src="/img/pulse.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/player/sync.js"></script>
</body>
</html>