<%- include ('./templates/_header.ejs'); %>
<body>
    <div class="center">
        <div class="host-header">
            <p class="host-text">Current room:</p>
            <p class="large-host-text" id="room-code">XXXXXXXX</p>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/player/sync.js"></script>
</body>
</html>