.host-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.host-content-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-header {
    flex-direction: column;
    text-align: center;
    padding: var(--medium-space);
    background-color: var(--blue);
    color: white;
    width: 100vw;
    box-shadow: 0 0 .25vw .25vw var(--translucent-black);
}

.host-button {
    width: 25vw;
    outline: none;
    border: none;
    border-radius: .25vw;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .5vw;
    margin: .5vw;
    color: white;
    background-color: var(--blue);
    transition: background-color 250ms;
    text-align: center;
}

.host-button:hover {
    background-color: var(--dark-blue);
}

.host-text {
    font-size: var(--large-font);
}

.large-host-text {
    font-size: var(--xtra-large-font);
    font-weight: bold;
}

.players {
    display: grid;
    padding: var(--large-space);
    grid-template-columns: repeat(4, 1fr);
    row-gap: calc(var(--large-space) * 4);
}

.players p {
    display: flex;
    justify-self: center;
    font-size: var(--large-font);
    color: var(--blue);
}

.standings {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: var(--large-font);
}

.standings p {
    color: var(--blue);
    font-size: var(--large-font);
}

.correct {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    background-color: #4ab84a;
}

.incorrect {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    background-color: #dd3131;
}